body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  background: linear-gradient(90deg, #2b2b2b, #3b3b3b);
  padding: 20px;
  color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.MuiAppBar-root {
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiTypography-h6 {
  font-size: 1.5rem;
}

.MuiButton-contained {
  background: linear-gradient(90deg, #00aaff, #00cfff);
  color: white;
  transition: background 0.3s;
  border-radius: 20px;
  padding: 10px 20px;
}

.MuiButton-contained:hover {
  background: linear-gradient(90deg, #0099e6, #00b3e6);
}

.MuiButton-outlined {
  border-color: #00aaff;
  color: #00aaff;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  padding: 10px 20px;
}

.MuiButton-outlined:hover {
  background-color: #00aaff;
  color: white;
}

.MuiAccordion-root {
  background-color: #2b2b2b;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s;
}

.MuiAccordion-root:hover {
  border-color: #00aaff;
}

.MuiAccordionSummary-root {
  background-color: #333;
  border-bottom: 1px solid #444;
}

.MuiAccordionDetails-root {
  background-color: #333;
}

.MuiTypography-root {
  color: #f5f5f5;
}

input,
textarea {
  background-color: #2b2b2b;
  color: #f5f5f5;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s;
}

input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
}

input:focus,
textarea:focus {
  border-color: #00aaff;
  outline: none;
  background-color: #333;
}

button {
  background: linear-gradient(90deg, #00aaff, #00cfff);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #0099e6, #00b3e6);
  transform: scale(1.05);
}

.MuiAlert-root {
  margin-top: 20px;
}

.MuiTextField-root {
  margin-bottom: 20px;
}

.MuiContainer-root {
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.MuiBox-root {
  margin-bottom: 20px;
}

.description {
  text-align: left;
  margin-bottom: 20px;
}

.description h5 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #00aaff;
}

.description p {
  margin: 0;
  line-height: 1.5;
}

.dropzone {
  border: 2px dashed #00aaff;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: border-color 0.3s, background-color 0.3s;
}

.dropzone:hover {
  border-color: #0099e6;
  background-color: #333;
}
